In [2]:
!pwd

/aiffel/aiffel

In [5]:
!ls

aiffel	data

In [4]:
cd ..

/aiffel

In [7]:
cd data

[Errno 2] No such file or directory: 'data'
/aiffel/data

In [9]:
ls

'day1_data_Data cleaning.ipynb'   titanic.csv

In [10]:
cd ..

/aiffel

In [11]:
cd aiffel/

/aiffel/aiffel

In [14]:
import pandas as pd  
# pd.read_csv('/aiffel/data/titanic.csv')    # 데이터의 경로: data/titanic.csv
# data = pd.read_csv('data/titanic.csv')   # 데이터의 경로: data/titanic.csv
data = pd.read_csv('titanic.csv')
data

,Pclass,Name,Gendr,Age,SibSp,Parch,Ticket,Embarked,Survived,ticket_date
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,S,0,1912-01-12
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C,1,1912-03-29
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,S,1,1912-02-23
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,NaN,1,0,113803,S,1,1912-03-28
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,S,0,1912-04-03
...,...,...,...,...,...,...,...,...,...,...
880,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,S,0,1912-01-29
881,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,S,1,1912-03-30
882,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,S,0,1912-04-07
883,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,C,1,1912-03-01
884,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,Q,0,1912-03-05